body {
  margin: 0;
}
.navbar {
  background-color: #FFA500;
  height: 60px;
  padding: 20px;
  display: flex;
  align-items: center;
  align-content: center;
  /* justify-content: space-around; */
  gap: 20%;
}
.navbar h1 {
  margin-left: 250px;
}
.cart {
  font-size: x-large;
  font-weight: 800;
}
.topdeal {
  margin-left: 30px;
}

input {
  border: none;
  border-radius: 5px;
  width: 250px;
  height: 30px;
  text-align: center;
}

a {
  color: black;
  text-decoration: none;
  margin-right: 20px;
}
a:hover {
  text-decoration: underline;
  color: orange;
}
a.current {
  color: orange;
  /* background-color: orange; */
}
.categories {
  text-align: center;
  font-weight: 800;
  font-size: x-large;
  padding-top: 30px;
}
.product-container {
  display: flex;
  scroll-behavior: smooth;
  height: 300px;
}
.product-card {
  flex: 0 0 auto;
  width: 250px;
  height: 450px;
  margin-right: 40px;
}

.product-image {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
  border-radius: 15px;
}

.product-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.discount-tag {
  position: absolute;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  color: #ff7d7d;
  right: 10px;
  top: 10px;
  text-transform: capitalize;
}

.card-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}

.product-card:hover .card-btn {
  opacity: 1;
}
.card-btn:hover {
  background: #ff7d7d;
  color: #fff;
}
.product-info {
  width: 100%;
  height: 100px;
  padding-top: 10px;
}
.product-brand {
  text-transform: uppercase;
}
.product-short-description {
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5;
  text-transform: capitalize;
  margin: 5px 0;
}
.containerAnnouncement {
  height: 30px;
  background-color: teal;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: 14px;
  font-weight: 500;
}
.price {
  font-weight: 900;
  font-size: 20px;
}

.actual-price {
  margin-left: 20px;
  opacity: 0.5;
  text-decoration: line-through;
}
/* .container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
} */